# Intro To Python

## Subheader

### Subsubheader

#### Subsubsubheader

**bold**

*italics*

Hello everyone! This is my very first jupyter notebook.

1. This is one.
    1. test
    2. test2
2. This is two.
2. This is two.
2. This is two.
2. This is two.
2. This is two.
2. This is two.

Great job! You've just made your first Python code! Let's explain what you just did.

1. First, you used the **build-in function** `print()`. Python has several build-in functions that you can use. Because of Python's emphasis on readability and making code as intuitive as possible, functions are named depending on what they do. In the case of the print function, it prints, whatever is placed inside the parenthesis.
2. Second, what is written inside the print function is called the **function argument or parameter**. In the case of our example, the parameter is a string.

## Comments

In programming languages, comments are used to describe and/or explain what a certain piece of code does.
In python, there are two ways of creating a comment:

1. **Single Line Comment** - This can be done by typing a `#` at the beginning of the text. We usually use this for short and quick comments.
2. **Multiline Comment** - When we need to write a more detailed explanation about our code, this is what we use. The syntax is to enclose your message with `''' '''`.

In [7]:
# this is a single line comment

In [9]:
"""
This is a multiline comment.
Use this for longer comments.
"""

print("hello")

hello

In [5]:
print('another line')

another line

## Data Types and Values

A **value** is one of the fundamental things that a computer manipulates such as a letter or a number. These values are classified into different **classes** or **data types**.

### Numeric Data
In python, numbers are classified in a straightforward manner:

1. **Integers** - defined as in mathematics. In python, these are real numbers without the decimal point (e.g. 1, 2, -1, 12345, 0).
2. **Floating-point numbers** - These are real numbers with decimal point (e.g. 1.0, 2.0, -1.0, 123.321, 0.0).
3. **Complex numbers** - Numbers (either an integer or a float) with a real component and an imaginary component. The imaginary component is composed of a number followed by `j` (e.g. 1 + 3j, 2j, 3.1j).

In [13]:
type(1)

int

In [14]:
type(1.3)

float

In [15]:
type(1 + 3j)

complex

### Strings
Basically, strings are anything that you enclose with `''`, `""`, `''' '''`, or `""" """`. 

Examples:
1. 'This is a string.'
2. "This is also a string"
3. '123455' - Although we have a number, since it is enclosed by `''`, then it is a string.
4. '''You guessed it. This is another string'''.
5. """Yep, this one too!""".

In [16]:
'This is a string'

'This is a string'

In [17]:
"This is another string"

'This is another string'

In [18]:
type('123455')

str

In [19]:
"Don't move!"

"Don't move!"

In [20]:
'"Fire!", she said.'

'"Fire!", she said.'

In [21]:
"""

SyntaxError: EOF while scanning triple-quoted string literal (<ipython-input-21-e4615a684824>, line 1)

### Variables
The purpose of variables is to store values such as strings and numbers so that we can use/manipulate them later on in our code. This is similar to mathematics when we say for example:

`Let N be a number such that...`. In this case, we assign a value to the variable N.

As an example, let's assign the string "Hello World!" to a variable. To do this, just use any letter (both lowercase and uppercase letters work!).

In [22]:
a = "Hello World!"

Since, you assigned the value of "Hello World!" to the variable `a`, you can now use `a` elsewhere in your code.

In [23]:
a

'Hello World!'

In [24]:
print(a)

Hello World!

<div class="alert alert-info">
Note: When you reassign a value to a variable, the value of the variable will change the next time you use it.
</div>

In [25]:
a = 6

In [26]:
print(a)

6

<img src="https://scontent.fmnl6-2.fna.fbcdn.net/v/t1.6435-9/177752874_3904513749597474_4098717087736457172_n.jpg?_nc_cat=1&ccb=1-3&_nc_sid=730e14&_nc_eui2=AeHBpf9QnwNmaVSWXnPK_aAxa4em4rzx1uprh6bivPHW6vQSgURSKSYiEEUGzcPERDI&_nc_ohc=5p4sXv-bafAAX_IktD2&_nc_ht=scontent.fmnl6-2.fna&oh=fa18e5cf288f47bead0134df27a50fd8&oe=60B64768" width=500>

<div class="alert alert-warning">
Warning: the <b>assignment token</b> "=" should not be confused with "equals". This was not very intuitive to me when I was still learning programming for the first time.
</div>

Observe what happens if you execute

```Python
100 = N
```

In [27]:
100 = N

SyntaxError: can't assign to literal (<ipython-input-27-19ce21675d6a>, line 1)

<div class="alert alert-info">
Tip: When writing code, don't think of "a equals 'Hello World'". Instead, think of "Let a have the value of 'Hello World'".
</div>

Also, **variable names can be arbitrarily long**, can contain both letters and digits, but they have to begin by either a letter or an `_`. Although uppercase letters are legal, we don't use it by convention.

In [28]:
thisisaverylongvariablenameforsomereason = 5

In [29]:
# epsilon sub k value 
e = 12314

In [30]:
this_is_a_very_long_variable_name_for_some_reason = 5

In [31]:
# dont begin with numbers
0_number = 7

SyntaxError: invalid token (<ipython-input-31-28d4eafe2d3e>, line 2)

In [32]:
_this_is_valid = "good!"

Next, there are **reserved keywords** that should not be used as variable names. These are keywords that define Python's syntax rules.

Examples of these are the following:
```Python
and
as
assert
break
class
continue
def
del
elif
else
except
exec
finally
for
from
global
if
import
in
is
lambda
nonlocal
not
or
pass
raise
return
try
while
with
yield
True
False
None
```

<div class="alert alert-success">
Exercise: Try to use any of the keywords above and see what happens.
</div>

In [33]:
not = "noooo"

SyntaxError: invalid syntax (<ipython-input-33-057f0f97bd40>, line 1)

### Arithmetic Operators

Just like in algebra, Python supports the basic operations of **addition** `+`, **subtraction** `-`, **multiplication** `*`, and **division** `/` together with other operations: **modulo division** `%`, **exponentiation** `**` and **floor division** `//`.

In [34]:
5 % 2

1

In [35]:
2 ** 3

8

In [36]:
7 // 3

2

In [37]:
7 / 3

2.3333333333333335

In [39]:
7 + 2.3

9.3

### String Operations

In general, you cannot perform mathematical operations on strings, even if the string look like numbers.

In [38]:
message = 'this is a string'
message - 1

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [40]:
'12345' + 1

TypeError: can only concatenate str (not "int") to str

In [41]:
# concatenate
"string1" + "string2"

'string1string2'

In [42]:
"ha"*3

'hahaha'

### Functions
Earlier, we have seen the built-in functions `print()` and `type()`. Now, we will learn how to create our own functions.

The basic syntax of a function looks like this:

```Python
def function_name(parameter1, parameter2, ...):
    statements
    return result
```

In [43]:
# function that returns the sum of a and b
def addition(a, b):
    sum_ = a + b
    return sum_

In [44]:
addition(10, 19)

29

<div class="alert alert-success">
Exercise: Create a function that takes in two parameters m and n, and returns the difference between the two.
</div>

In [45]:
def difference(m, n):
    diff = m - n
    return diff

In [46]:
difference(10, 4)

6

<div class="alert alert-success">
Exercise: Create a function that takes in two parameters N and D, and returns the remainder R when N is divided by D.
</div>

In [60]:
def remainder(N, D):
    q = N // D
    r = N % D
    return q, r

IndentationError: expected an indented block (<ipython-input-60-7ad09bdb68c2>, line 2)

In [53]:
result = remainder(10, 3)

In [54]:
result

(3, 1)

In [55]:
result[0]

3

In [56]:
result[1]

1

In [57]:
r1, r2 = remainder(10, 3)

In [58]:
r1

3

In [59]:
r2

1

### Booleans and Conditional Statements
In programming, you often want to evaluate if an expression is true or false. The python data type `bool` can store two values i.e., `True` or `False`.

In [62]:
type(False)

bool

For booleans, you can use `or`, `and` and the negation `not`. Rules in Logic also applies similarly to booleans in Python.

In [63]:
True or True

True

In [64]:
True or False

True

In [65]:
False or True

True

In [66]:
True and True

True

In [67]:
True and False

False

In [68]:
False and True

False

In [69]:
not True

False

In [70]:
not False

True

<div class="alert alert-success">
Exercise: Given a is True and b is False, evaluate not (a and b)
</div>

In [73]:
a = True
b = False
not (a and b)

True

#### Comparison Operators
When you compare two values, the result is a boolean value.

Here are a list of various comparison operators:

```Python
x == y # x is equal to y
x != y # x is not equal to y
x > y # x is greater than y
x < y # x is less than y
x >= y # x is greater than or equal to y
x <= y # x is less than or equal to y
```

In [74]:
3 == 3

True

In [75]:
4 != 3

True

In [76]:
4 > 5

False

#### Conditional Statements
**Conditional statements** are used to perform different computations or actions depending on whether a condition evaluates to true or false. 

In the first slide of the overview earlier, you were told to 

```Python
"""
Type in `teacher`, if you were a teacher. 
And if you were a student, you type `student`, as well as indicate your year level.
"""
```

Notice that in that instruction, you have two possible actions to take:
1. Type `teacher`.
2. Type `student (year level)`

You can execute one of these two actions depending on the **condition** that holds true:
1. If teacher, then type `teacher`
2. If student, then type `student (year level)`.

Having conditional statements is common in both programming and in mathematics. In math, for example, we have piece-wise functions such as:

$$ f(x)=   \left\{
\begin{array}{ll}
      x & \text{if } x > 0 \\
      0 & \text{otherwise} \\
\end{array} 
\right.  $$

In python, you can write this function as:

```Python
def f(x):
    if x > 0:
        return x
    else:
        return 0
```

Notice that we used an **if statement** or a statement that begins with an `if` keyword. In general, **if statements** have the following format:

Format 1:
```Python
if condition:
    statement
```

Format 2:
```Python
if condition:
    statement1
else:
    statement2
```

Format 3:
```Python
if condition1:
    statement1
elif condition2:
    statement2
elif condition3:
    statement3
    .
    .
    .
elif condition_n_minus_1:
    statement_n_minus_1
else:
    statement
```

In [77]:
# example
"""
Type in `teacher`, if you were a teacher. 
And if you were a student, you type `student`, as well as indicate your year level.
"""

participant = "teacher"

if participant == "teacher":
    print("teacher")
else:
    print("student (3rd year)")

teacher

In [79]:
participant = "unknown"

if participant == "teacher":
    print("teacher")
elif participant == "student":
    print("student (3rd year)")
else:
    print("neither")

neither

<div class="alert alert-success">
Exercise: Create a function <b>is_even()</b> that takes a parameter <i>n</i> and returns True if even and False otherwise.
</div>

In [87]:
def is_even(n):
    return n % 2 == 0

In [86]:
is_even(10)

False

<div class="alert alert-success">
Exercise: Create a function <b>is_odd()</b> that takes a parameter <i>n</i> and returns True if odd and False otherwise.
</div>

In [89]:
def is_odd(n):
    return not is_even(n)

# reusability

<div class="alert alert-success">
Exercise: Create a function <b>is_divisible()</b> that takes parameters <i>n</i> and <i>d</i>, and returns True if n is divisible by d and False otherwise.
</div>

In [90]:
def is_divisible(n, d):
    return n % d == 0

In [91]:
is_divisible(10, 5)

True

In [92]:
is_divisible(10, 3)

False

In [93]:
def is_even2(n):
    return is_divisible(n, 2)

In [94]:
is_even2(10)

True

In [95]:
is_even2(5)

False

### Loops

The idea of loops is simple, you have to loop over or iterate over a certain piece of code for a certain number of times.
We will discuss two basic methods for doing loops, namely the **for loop** and the **while loop**.

#### For Loops
Let's take a look at an example to get the gist of the for loop.

```Python
for i in range(1, 5):
    print(i)
```

Can you guess what this function does?

In [96]:
for i in range(1, 5):b
    print(i)

1
2
3
4

In the code above, we shown two new concepts namely `for` and `range()`.

`range()` is another built-in function that is used to generate an iterator. The first value is the starting value of the iteration while the second one is the upper value which is not included.

In English, the code above can be translated as:

`"Display values from 1 to 4"`

#### Example: Summation function using loops

$$\sum \limits_{i=1}^{n}i$$

`"Get the sum from 1 to n"`

In [98]:
def summation(n):
    sum_ = 0
    for i in range(1, n+1):
        sum_ = sum_ + i
    return sum_

In [100]:
summation(100)

5050

In general, the for loop syntax looks like this:

```Python
for var in iterator:
    statement
```

<div class="alert alert-success">
Exercise: Create a function <b>factorial()</b> that takes a parameter <i>n</i> and returns the product from 1 to n.
</div>

In [106]:
def factorial(n):
    prod = 1
    if n == 0:
        return 1
    for i in range(1, n+1):
        prod *= i
    return prod

In [107]:
factorial(0)

1

#### While Loop
Similar to the for loop, the purpose of the while loop is to also serve as an iterator such that as long as the condition is satisfied, it will continue executing the statement in the loop.

The general syntax looks like this:
```Python
while condition:
    statement
```

<div class="alert alert-warning">
Warning: When using the while loop, make sure that the condition can be terminated. Else, it will result to an <b>infinite loop</b>.
</div>

In [110]:
# summation using while loop
def summation2(n):
    sum_ = 0
    i = 1
    while i <= n:
        sum_ += i
        i += 1
    return sum_

summation2(10)

55

### Lists

A Python list is an *ordered* list of objects, enclosed in square brackets. 

Examples:

In [111]:
list1 = [1, 2]

In [112]:
list2 = ['a', 'b', 'c']

In [113]:
list3 = [1, 1, 2] # can have duplicates

In [114]:
list4 = ['a', 1, 3, 4+3j] # can have different data types

In [115]:
list1[0]

1

In [117]:
list4[3] # access the fourth element

(4+3j)

In [118]:
# access the last element of list3
list3[-1]

2

#### List Utilities
Aside from indexing, we can do other things on lists. Some of the more popular ones are demonstrated below:

In [119]:
# determine the length of the list using len()
len(list1)

2

In [125]:
list(range(0, 11, 3))

[0, 3, 6, 9]

In [126]:
# append an element to an existing list. append()
list2

['a', 'b', 'c']

In [127]:
list2.append('d')

In [128]:
list2

['a', 'b', 'c', 'd']

In [131]:
list2.remove('c')

In [132]:
list2

['a', 'b', 'd']

In [133]:
unsorted_list = [1, 4, 3, 2, 0, 5]
unsorted_list

[1, 4, 3, 2, 0, 5]

In [134]:
sorted(unsorted_list)

[0, 1, 2, 3, 4, 5]

In [135]:
unsorted_strings = ['this', 'and', 'that']
unsorted_strings

['this', 'and', 'that']

In [136]:
sorted(unsorted_strings)

['and', 'that', 'this']

In [138]:
# indexing
unsorted_list[0:3]

[1, 4, 3]

In [139]:
unsorted_list[1:5]

[4, 3, 2, 0]

In [140]:
unsorted_list[:3]

[1, 4, 3]

In [141]:
unsorted_list[3:]

[2, 0, 5]

In [142]:
unsorted_list[-1]

5

In [149]:
unsorted_list[::-1]

[5, 0, 2, 3, 4, 1]

In [159]:
# using loops to generate a list of even numbers from 1 to 20
list_of_even_numbers = []
for i in range(21):
    # if even, then append
    if i%2 == 0:
        list_of_even_numbers.append(i)

In [160]:
list_of_even_numbers

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### List Comprehension

List comprehension is a convenient way to generate a list.

Let's take a look at an example first and discuss the syntax afterwards.

In [161]:
evens_upto_20 = [2*k for k in range(11)]
evens_upto_20

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In the example above, we generated a list of even numbers below 20. Notice that this is very similar to *set notations*.

$$L_2 = \{2x; x \in L\}$$

In python, the syntax is:
```Python
[expression for variable in iterable if condition]
```

<div class="alert alert-warning">
One big difference though is that lists are ordered while sets aren't. There are also sets in python and we will introduce them later on.
</div>

In [162]:
evens_upto_20_v2 = [k for k in range(21) if k%2 == 0]
evens_upto_20_v2

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

<div class="alert alert-info">
The example above also shows that some tasks may have more than one solution. However, there are just more efficient solutions. 
</div>

Let's determine the runtime of the two versions above. We can do it using a **Python magic**.

In [166]:
%%timeit
evens_upto_20 = [2*k for k in range(51)]

5 µs ± 1.17 µs per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [167]:
%%timeit
evens_upto_20_v2 = [k for k in range(101) if k%2 == 0]

9.07 µs ± 1.16 µs per loop (mean ± std. dev. of 7 runs, 100000 loops each)

### Sets
Sets in Python are similar to lists except that they are **unordered**, **unindexed**, and **unchangeable (immutable)**. Moreover, just like sets in mathematics, **python sets do not allow duplicates**.

In [168]:
set1 = {'a', 'b', 'c', 'e'}

In [169]:
set2 = {'a', 'a', 'b', 'c', 'd'}

In [170]:
set2

{'a', 'b', 'c', 'd'}

In [171]:
list_instead = ['a', 'a', 'b', 'c', 'd']

In [173]:
set3 = {'b', 'c', 'a', 'd'}

In [174]:
set3

{'a', 'b', 'c', 'd'}

In [176]:
set1[1]

TypeError: 'set' object is not subscriptable

You can perform different operations on sets namely: `union`, `intersection`, and `difference`.

In [178]:
print(set1)
print(set2)
set1.union(set2)

{'c', 'e', 'a', 'b'}
{'c', 'a', 'b', 'd'}

{'a', 'b', 'c', 'd', 'e'}

In [179]:
print(set1)
print(set2)
set1.intersection(set2)

{'c', 'e', 'a', 'b'}
{'c', 'a', 'b', 'd'}

{'a', 'b', 'c'}

In [180]:
print(set1 - set2)

{'e'}

In [181]:
print(set2 - set1)

{'d'}

In [184]:
set_of_evens_upto_20 = {2*k for k in range(11)}
set_of_evens_upto_20

{0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [185]:
2 in set_of_evens_upto_20

True

In [187]:
1 in list1

True

In [188]:
3 in list1

False

In [190]:
set(list1)

{1, 2}

In [192]:
list(set1)

['c', 'e', 'a', 'b']