# A Gentle Introduction To Python

Hello new python learner! Welcome to this jupyter notebook! This is where we will learn basic python syntax and run our own algorithms later on!

<img src="https://media.tenor.com/images/3ded3820a37d4dc709b08f8ab8284f15/tenor.gif" width="500" align="center">

## Initiation

The very first thing that learners do when trying to code in a programming language for the first time is to **print "Hello World!"**

This is a long standing tradition for programmers. You can learn a little bit more about it's history [here](https://blog.hackerrank.com/the-history-of-hello-world).

As you have seen earlier, to display "Hello World!", all you need to do is type the following:

```Python
print("Hello World!")
```

Great job! You've just made your first Python code! Let's explain what you just did.

1. First, you used the **build-in function** `print()`. Python has several build-in functions that you can use. Because of Python's emphasis on readability and making code as intuitive as possible, functions are named depending on what they do. In the case of the print function, it prints, whatever is placed inside the parenthesis.
2. Second, what is written inside the print function is called the **function argument or parameter**. In the case of our example, the parameter is a string.

We will learn more about functions later on.

## Comments

In programming languages, comments are used to describe and/or explain what a certain piece of code does.
In python, there are two ways of creating a comment:

1. **Single Line Comment** - This can be done by typing a `#` at the beginning of the text. We usually use this for short and quick comments.
2. **Multiline Comment** - When we need to write a more detailed explanation about our code, this is what we use. The syntax is to enclose your message with `''' '''`.

In [2]:
# this is a single line comment

In [7]:
'''
    This is a multiline comment.
    Use this one if you want to write longer comments.
'''

'\n    This is a multiline comment.\n    Use this one if you want to write longer comments.\n'

<div class="alert alert-info">
Note: Technically, a multiline comment in python is just a string and there is no special syntax for multiline comment.
</div>

## Data Types and Values

A **value** is one of the fundamental things that a computer manipulates such as a letter or a number. These values are classified into different **classes** or **data types**.

### Numeric Data
In python, numbers are classified in a straightforward manner:

1. **Integers** - defined as in mathematics. In python, these are real numbers without the decimal point (e.g. 1, 2, -1, 12345, 0).
2. **Floating-point numbers** - These are real numbers with decimal point (e.g. 1.0, 2.0, -1.0, 123.321, 0.0).
3. **Complex numbers** - Numbers (either an integer or a float) with a real component and an imaginary component. The imaginary component is composed of a number followed by `j` (e.g. 1 + 3j, 2j, 3.1j).

### Strings
Basically, strings are anything that you enclose with `''`, `""`, `''' '''`, or `""" """`. 

Examples:
1. 'This is a string.'
2. "This is also a string"
3. '123455' - Although we have a number, since it is enclosed by `''`, then it is a string.
4. '''You guessed it. This is another string'''.
5. """Yep, this one too!""".

If you want to know what class a value falls into, we can use the built-in function **type**.

In [32]:
type('This is a string')

str

In [33]:
type(42)

int

In [34]:
type(1.3)

float

In [35]:
type(1 + 3j)

complex

In [36]:
type("1235")

str

<div class="alert alert-info">
Note: Double quoted strings can contain single quotes inside them and similarly, single quoted strings can have double quotes inside.
</div>

In [38]:
"Occam's Razor"

"Occam's Razor"

In [39]:
'"Fire!", she said.'

'"Fire!", she said.'

In [40]:
'This doesn't work'

SyntaxError: invalid syntax (<ipython-input-40-dccb7b983d2a>, line 1)

### Variables
The purpose of variables is to store values such as strings and numbers so that we can use/manipulate them later on in our code. This is similar to mathematics when we say for example:

`Let N be a number such that...`. In this case, we assign a value to the variable N.

As an example, let's assign the string "Hello World!" to a variable. To do this, just use any letter (both lowercase and uppercase letters work!).

In [42]:
a = "Hello World!"

Since, you assigned the value of "Hello World!" to the variable `a`, you can now use `a` elsewhere in your code.

In [43]:
a

'Hello World!'

You can also pass on `a` to a function.

In [44]:
print(a)

Hello World!

<div class="alert alert-info">
Note: When you reassign a value to a variable, the value of the variable will change the next time you use it.
</div>

In [45]:
# reassigning `a` with another value
a = 6

In [46]:
print(a)

6

Notice that now, the value of `a` has been updated to 6.

<img src="https://scontent.fmnl6-2.fna.fbcdn.net/v/t1.6435-9/177752874_3904513749597474_4098717087736457172_n.jpg?_nc_cat=1&ccb=1-3&_nc_sid=730e14&_nc_eui2=AeHBpf9QnwNmaVSWXnPK_aAxa4em4rzx1uprh6bivPHW6vQSgURSKSYiEEUGzcPERDI&_nc_ohc=5p4sXv-bafAAX_IktD2&_nc_ht=scontent.fmnl6-2.fna&oh=fa18e5cf288f47bead0134df27a50fd8&oe=60B64768" width=500>

<div class="alert alert-warning">
Warning: the <b>assignment token</b> "=" should not be confused with "equals". This was not very intuitive to me when I was still learning programming for the first time.
</div>

Observe what happens if you execute

```Python
100 = N
```

In [47]:
100 = N

SyntaxError: can't assign to literal (<ipython-input-47-19ce21675d6a>, line 1)

<div class="alert alert-info">
Tip: When writing code, don't think of "a equals 'Hello World'". Instead, think of "Let a have the value of 'Hello World'".
</div>

Also, **variable names can be arbitrarily long**, can contain both letters and digits, but they have to begin by either a letter or an `_`. Although uppercase letters are legal, we don't use it by convention.

In [49]:
this_is_an_incredibly_wrong_variable_name = 5

In [50]:
variables_can_begin_with_a_letter = 4

In [51]:
_underscore_is_also_allowed = 7

In [52]:
00_but_not_numbers = "This is invalid"

SyntaxError: invalid token (<ipython-input-52-00764b9eb6cc>, line 1)

The variable in the cell above is not valid since it begins with a number and not a letter or an `_`. Also notice above that we used `_` in between the letters to improve readability. 

Next, there are **reserved keywords** that should not be used as variable names. These are keywords that define Python's syntax rules.

Examples of these are the following:
```Python
and
as
assert
break
class
continue
def
del
elif
else
except
exec
finally
for
from
global
if
import
in
is
lambda
nonlocal
not
or
pass
raise
return
try
while
with
yield
True
False
None
```

<div class="alert alert-success">
Exercise: Try to use any of the keywords above and see what happens.
</div>

### Arithmetic Operators

Just like in algebra, Python supports the basic operations of **addition** `+`, **subtraction** `-`, **multiplication** `*`, and **division** `/` together with other operations: **modulo division** `%`, **exponentiation** `**` and **floor division** `//`.

<div class="alert alert-success">
Exercise: Play around with assigning integers or floats to variables and try the different arithmetic operators above.
</div>

### String Operations

In general, you cannot perform mathematical operations onstrings, even if the string look like numbers.

In [54]:
message = "This is a string"
message - 1

TypeError: unsupported operand type(s) for -: 'str' and 'int'

This remains true even if the string looks like a number.

In [56]:
numeric_character = "1234"
numeric_character - 5

TypeError: unsupported operand type(s) for -: 'str' and 'int'

Interestingly, the operators `+` and `*` work, but for strings, these operators represent different purpose.

In [57]:
"string1" + "string2"

'string1string2'

The `+` operator represents **concatenation**.

In [60]:
"ha"*3

'hahaha'

While the `*` operator represents **repetition**.

### Functions
Earlier, we have seen the built-in functions `print()` and `type()`. Now, we will learn how to create our own functions.

The basic syntax of a function looks like this:

```Python
def function_name(parameter1, parameter2, ...):
    statements
    return result
```

In [61]:
# example: a function for adding two numbers
def addition(a, b):
    sum_ = a + b
    return sum_

<div class="alert alert-success">
Exercise: Create a function that takes in two parameters m and n, and returns the difference between the two.
</div>

<div class="alert alert-success">
Exercise: Create a function that takes in two parameters N and D, and returns the remainder R when N is divided by D.
</div>

### Booleans and Conditional Statements
In programming, you often want to evaluate if an expression is true or false. The python data type `bool` can store two values i.e., `True` or `False`.

In [63]:
type(True)

bool

In [64]:
type(False)

bool

For booleans, you can use `or`, `and` and the negation `not`. Rules in Logic also applies similarly to booleans in Python.

In [65]:
True or True

True

In [66]:
True or False

True

In [67]:
True and True

True

In [68]:
True and False

False

In [69]:
not True

False

In [70]:
not False

True

<div class="alert alert-success">
Exercise: Given a is True and b is False, evaluate not (a and b)
</div>

#### Comparison Operators
When you compare two values, the result is a boolean value.

Here are a list of various comparison operators:

```Python
x == y # x is equal to y
x != y # x is not equal to y
x > y # x is greater than y
x < y # x is less than y
x >= y # x is greater than or equal to y
x <= y # x is less than or equal to y
```

In [76]:
3 == 3

True

In [77]:
4 != 3

True

In [78]:
4 > 5

False

In [79]:
-1 > 1

False

In [80]:
10 >= 10

True

In [81]:
12.34 <= 12.35

True

#### Conditional Statements
**Conditional statements** are used to perform different computations or actions depending on whether a condition evaluates to true or false. 

In the first slide of the overview earlier, you were told to 

```Python
"""
Type in `teacher`, if you were a teacher. 
And if you were a student, you type `student`, as well as indicate your year level.
"""
```

Notice that in that instruction, you have two possible actions to take:
1. Type `teacher`.
2. Type `student (year level)`

You can execute one of these two actions depending on the **condition** that holds true:
1. If teacher, then type `teacher`
2. If student, then type `student (year level)`.

Having conditional statements is common in both programming and in mathematics. In math, for example, we have piece-wise functions such as:

$$ f(x)=   \left\{
\begin{array}{ll}
      x & \text{if } x > 0 \\
      0 & \text{otherwise} \\
\end{array} 
\right.  $$

In python, you can write this function as:

```Python
def f(x):
    if x > 0:
        return x
    else:
        return 0
```

Notice that we used an **if statement** or a statement that begins with an `if` keyword. In general, **if statements** have the following format:

Format 1:
```Python
if condition:
    statement
```

Format 2:
```Python
if condition:
    statement1
else:
    statement2
```

Format 3:
```Python
if condition1:
    statement1
elif condition2:
    statement2
elif condition3:
    statement3
    .
    .
    .
elif condition_n_minus_1:
    statement_n_minus_1
else:
    statement
```

In [82]:
# example
"""
Type in `teacher`, if you were a teacher. 
And if you were a student, you type `student`, as well as indicate your year level.
"""

participant = "teacher"

if participant == "teacher":
    print("teacher")
else:
    print("student (3rd year)")

teacher

In [83]:
participant = "student"

if participant == "teacher":
    print("teacher")
elif participant == "student":
    print("student (3rd year)")
else:
    print("neither")

student (3rd year)

In [84]:
participant = "unknown type"

if participant == "teacher":
    print("teacher")
elif participant == "student":
    print("student (3rd year)")
else:
    print("neither")

neither

<div class="alert alert-success">
Exercise: Create a function <b>is_even()</b> that takes a parameter <i>n</i> and returns True if even and False otherwise.
</div>

<div class="alert alert-success">
Exercise: Create a function <b>is_odd()</b> that takes a parameter <i>n</i> and returns True if odd and False otherwise.
</div>

<div class="alert alert-success">
Exercise: Create a function <b>is_divisible()</b> that takes parameters <i>n</i> and <i>d</i>, and returns True if n is divisible by d and False otherwise.
</div>

### Loops

The idea of loops is simple, you have to loop over or iterate over a certain piece of code for a certain number of times.
We will discuss two basic methods for doing loops, namely the **for loop** and the **while loop**.

#### For Loops
Let's take a look at an example to get the gist of the for loop.

```Python
for i in range(1, 5):
    print(i)
```

Can you guess what this function does?

In [85]:
for i in range(1, 5):
    print(i)

1
2
3
4

In the code above, we shown two new concepts namely `for` and `range()`.

`range()` is another built-in function that is used to generate an iterator. The first value is the starting value of the iteration while the second one is the upper value which is not included.

In English, the code above can be translated as:

`"Display values from 1 to 4"`

#### Example: Summation function using loops

$$\sum \limits_{i=1}^{n}i$$

`"Get the sum from 1 to n"`

In general, the for loop syntax looks like this:

```Python
for var in interator:
    statement
```

<div class="alert alert-success">
Exercise: Create a function <b>factorial()</b> that takes a parameter <i>n</i> and returns the product from 1 to n.
</div>

#### While Loop
Similar to the for loop, the purpose of the while loop is to also serve as an iterator such that as long as the condition is satisfied, it will continue executing the statement in the loop.

The general syntax looks like this:
```Python
while condition:
    statement
```

<div class="alert alert-warning">
Warning: When using the while loop, make sure that the condition can be terminated. Else, it will result to an <b>infinite loop</b>.
</div>

In [96]:
# summation using while loop
sum_ = 0
upper_limit = 5
i = 1 # iterator
while i < upper_limit:
    sum_ = sum_ + i
    
    # this next part is crucial.
    # Without this, the expression `i < upper_limit` will always be true 
    # and will result to an infinite loop
    i += 1  
sum_

10

<div class="alert alert-success">
Exercise: Create the function summation2() using the while loop
</div>

### Lists

A Python list is an *ordered* list of objects, enclosed in square brackets. 

Examples:

In [100]:
list1 = [1, 2] # a list of two numbers
list2 = ['a', 'b', 'c'] # a list of three strings
list3 = [1, 1, 2] # a list can contain the same values
list4 = ['a', 1, 3, 4 + 3j] # a list can contain different data types

Note that a list follows a **zero-based** indexing. We'll show that in the next few cells.

In [101]:
# access second element of list1
list1[1]

2

In [102]:
# access first element of list4
list4[0]

'a'

<div class="alert alert-success">
How do you access the 3rd element of list3?
</div>

#### List Utilities
Aside from indexing, we can do other things on lists. Some of the more popular ones are demonstrated below:

#### Determine the length of the list using len()

In [103]:
len(list1)

2

In [104]:
len(list3)

3

#### Create a list of consecutive numbers using range()

In [105]:
list(range(5))

[0, 1, 2, 3, 4]

#### Append an element to an existing list using append()

In [106]:
# list2 as we've seen above
list2

['a', 'b', 'c']

In [107]:
# let's append 'd' to this list
list2.append('d')

In [108]:
# check the updated lists2
list2

['a', 'b', 'c', 'd']

voila! 'd' is now included in list2

#### Sorting elements in a list using sorted()

In [118]:
unsorted_list = [1, 4, 3, 2, 0, 5]
unsorted_list

[1, 4, 3, 2, 0, 5]

In [119]:
sorted_list = sorted(unsorted_list)
sorted_list

[0, 1, 2, 3, 4, 5]

#### We can also get a specific sublist from an existing one using indexing

Let's say we want to get the first 3 elements in `sorted_list`.

In [120]:
sorted_list[0:3]

[0, 1, 2]

Since it starts with 0, we can even simplify the notation and write:

In [121]:
sorted_list[:3]

[0, 1, 2]

If we want to get all elements **after** the third one, we can just write:

In [122]:
sorted_list[3:]

[3, 4, 5]

#### Reversed indexing
We can also access the objects in reverse.

In [123]:
sorted_list[-1]

5

Indexing this way starts with -1 and gets the right-most value. We can also use this method to sort the list in reverse.

In [124]:
sorted_list[::-1]

[5, 4, 3, 2, 1, 0]

#### Concatenate sets
We can also concatenate sets together

In [133]:
print(list1)
print(list2)
print(list1 + list2)

[1, 2]
['a', 'b', 'c', 'd']
[1, 2, 'a', 'b', 'c', 'd']

### List Comprehension

List comprehension is a convenient way to generate a list.

Let's take a look at an example first and discuss the syntax afterwards.

In [132]:
# list of even numbers below 20
evens_below_20 = [2*k for k in range(10)]
evens_below_20

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In the example above, we generated a list of even numbers below 20. Notice that this is very similar to *set notations*.

$$L_2 = \{2x; x \in L\}$$

In python, the syntax is:
```Python
[expression for variable in iterable]
```

<div class="alert alert-warning">
One big difference though is that lists are ordered while sets aren't. There are also sets in python and we will introduce them later on.
</div>

You can also add an additional condition on what can be included in the list. An example is shown below.

In [134]:
evens_below_20_v2 = [k for k in range(20) if k%2==0]
evens_below_20_v2

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In python, the general syntax is:
```Python
[expression for variable in iterable if condition]
```

<div class="alert alert-info">
The example above also shows that some tasks may have more than one solution. However, there are just more efficient solutions. 
</div>

Let's determine the runtime of the two versions above. We can do it using a **Python magic**.

In [139]:
%%timeit
evens_below_20 = [2*k for k in range(10)]

1.1 µs ± 209 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [140]:
%%timeit
evens_below_20_v2 = [k for k in range(20) if k%2==0]

1.88 µs ± 121 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

<div class="alert alert-success">
Notice that the first method runs faster compared to the second one. Can you explain why?
</div>

### Sets
Sets in Python are similar to lists except that they are **unordered**, **unindexed**, and **unchangeable (immutable)**. Moreover, just like sets in mathematics, **python sets do not allow duplicates**.

In [150]:
# we can define a set using {}
set1 = {'a', 'b', 'c', 'e'}
set1

{'a', 'b', 'c', 'e'}

In [151]:
# what happens if we accidentally included duplicates?
set2 = {'a', 'a', 'b', 'c', 'd'}
set2

{'a', 'b', 'c', 'd'}

In [152]:
# order doesn't matter
set3 = {'b', 'c', 'a', 'd'}
set3

{'a', 'b', 'c', 'd'}

In [153]:
# unindexed - you cannot index sets
set1[0]

TypeError: 'set' object is not subscriptable

You can perform different operations on sets namely: `union`, `intersection`, and `difference`.

In [155]:
# union
print(set1)
print(set2)
print(set1.union(set2))

{'e', 'c', 'a', 'b'}
{'c', 'a', 'd', 'b'}
{'a', 'e', 'b', 'c', 'd'}

In [157]:
# intersection
print(set1.intersection(set2))

{'a', 'c', 'b'}

In [159]:
# difference
print(set1 - set2)
print(set2 - set1)

{'e'}
{'d'}

<div class="alert alert-success">
You can also perform comprehension on sets similar to lists. Try it!
</div>

With the topic of loops above, we can now solve basic programming challenges in Number Theory.

<div class="alert alert-warning">
In this notebook, we covered basic elements in Python that we will need in the next steps. However, did not cover all the fundamental elements in learning the Python language. For example, we did not cover <b>tuples</b> and <b>dictionaries</b> which are necessary data structures. We also did not cover <b>Python classes</b> which is important when learning Object-Oriented programming. For serious learners, I advice that you learn more from other resources.
    
The internet is your oyster! You can find a lot of free tutorials online. Good luck and have fun learning Python!
</div>